# This file was intentionally made public.
VITE_DEFAULT_NODE_ENV = 'production'
VITE_DEFAULT_DIRECTOR_ENDPOINT=https://path/to/your/director
VITE_DEFAULT_PUBLIC_PATH=/
VITE_DEFAULT_CHROMECAST_ID = ''
VITE_DEFAULT_REPORT_URL = https://path/to/reporting/url